* {
    font-family: "Times New Roman", serif;
}

.list-titles {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: #8d3c3c;
    font-weight: bold;
    font-size: 25px;
}


.ingredient-title {
    margin-left: 300px;
}

.step-title {
    margin-right: 500px;
}

.lists-container {
    display: flex;
    justify-content: center;
}

.ingredient-list {
    height: 900px
}

.steps-list {
    height: 900px;
    display: flex;
}

ul.ingredients {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

ol.steps {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}


ul.prep {
    background-color: orange;
    color: #8d3c3c;
    display: block;
}
p.text {
    font-family: "Lucida Handwriting", serif;
    background-color: orange;
    color: #8d3c3c;
    font-style: italic;
}
p.link {
    background-color: #8d3c3c;
    display: inline;
}
a {
    color: white;
}

a:hover {
    color: purple;
}



.heading {
    background-color: orange;
    color: #8d3c3c;
    text-align: center;
    font-weight: bold;
}

.heading.ingred {
    margin-right: auto;
    display: block;
    margin-bottom: 10px;

}
.imdesc p {
    display: inline-block;
    margin: 0 auto;
    padding: 30px;
    background-color: orange;
    color: #8d3c3c;
    text-align: center;
}

img {
    display: inline-block;
}

