.heading {
    background-color: #d2580d;
    color: aqua;
}
.ingredients {
    font-family: georgia, serif;
    color: white;
    background-color: black;
}

ul {
    background-color: black;
    color: white;
}